# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
ENV/
conda-meta/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs
*.log